name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install --upgrade "jax[cpu]"
          python -m pip install .[dev]
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Check type hints with mypy
        run: |
            #mypy ./croissant/
      - name: Test with pytest
        run: |
          pytest --cov=croissant --cov-report=xml croissant/tests croissant/core/tests croissant/crojax/tests
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
